{% extends "base.html" %}

{% block title %}Privacy Policy :: {% endblock %}

{% block extracssjs %}
<style type="text/css">#theGoodThing{margin: 0em;font-size:1em;}</style>
{% endblock %}

{% block content %}
<div class="content"><div id='theGoodThing'>
<h2>Privacy Policy</h2>
<p>3GT is a research application developed at the University of Michigan's School of Information. We collect and use certain information in order for the application to function and to support our research.</p>
<h3>What we collect</h3>
<p>We collect the following information from your Facebook profile:</p>
<ul>
<li>name and Facebook username</li>
<li>email address</li>
<li>an offline access token to post to Facebook on your behalf</li>
<li>your birthdate</li>
</ul>

<p>Within the 3GT application, we collect:</p>
<ul>
<li>good things and reasons you post</li>
<li>comments, cheers, and other actions you take on your own or others' good things</li>
</ul>

<p>We may also access, but do not store, your Facebook friends list.</p>

<h3>What we do with this information</h3>
<p>We require this information for the 3GT application to function, including for the follwoing reasons:</p>
<ul>
<li>Allowing you to post, access, and view your Good Things</li>
<li>Posting Good Things, as you request and specify, to your Facebook News Feed</li>
</ul>

<p>We also require this information for research purposes, including contacting you from time to time to ask you about your experiences using the application. We may report on your use behavior in aggregate, and may anonymously use some of your Good Things and Reasons when we report on our research. You, or anyone you post about, will not be identified in any way in these reports.</p>

<p>Other than functions of 3GT described above and these anonymous or aggregate research reports, we will not sell, distribute, or lease your personal information to third parties unless we are required by law to do so.</p>
</div>
</div></div>
{% endblock %}