{% extends "base.html" %}

{% block title %}Terms of Service :: {% endblock %}

{% block extracssjs %}
<style type="text/css">#theGoodThing{margin: 0em;font-size:1em;}</style>
{% endblock %}

{% block content %}
<div class="content"><div id='theGoodThing'>
<h2>Terms of Service</h2>
<p>3GT is a research application developed at the University of Michigan's School of Information. We collect and use certain information in order for the application to function and to support our research. You have certain rights and responsibilities in what you share.</p>
<p>Our terms of service are fairly simple.</p>
<ul>
	<li><strong>Be nice.</strong>
		<p>People come to 3GT to live happier. Please be nice and supportive, or don't say anything at all. If you are not, we may delete your account at our discretion.</p>
	<li><strong>Sharing.</strong>
		<p>3GT is designed to support posting and sharing Good Things. You may always post privately, in which case your Good Thing will be visible only to you and to the research team, or to Facebook but not publicly on the 3GT site. We do not retain deleted Good Things or Reasons, though they may persist in backups for little bit after you delete them.</p>
		<p>Items that you share publicly on 3GT may be indexed on search engines, along with your name, and visible to and findable by people searching for you, even after you delete them. Please use your discretion in what you choose to post.</p>
		</li>
	<li><strong>Privacy</strong>.<p>Your privacy is important to us. For information on how we use the data you provide, please see the <a href="/privacy/">Privacy Policy</a>.</p></li></ul>

</div>
</div></div>
{% endblock %}